.custom-sidebar {
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
    top: 0;
}

.categories strong {
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 10px;
}
