@page "/"
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>
<button @onclick="NavigateToLogin">Iniciar Sesión</button>
<button @onclick="NavigateToRegister">Registrarse</button>


@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}

